<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" src="/styles/resets.css">
        <link rel="stylesheet" src="/styles/base.css">
        <link rel="stylesheet" src="/styles/header.css">
        <link rel="stylesheet" src="/styles/form.css">
        <link rel="stylesheet" src="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="nav">
                <div>Home</div>
            </div>
        </header>

        <main>
            <section id="intro">
                <h1>My Travel App</h1>
                <p>Welcome to My Travel App, the number one app for all your weather travel needs </p>
            </section>
            <section id="form">
                <form autocomplete="off" class="" onsubmit="return Client.handleSubmit(event)">
                    <ul>
                        <li>
                            <label class="autocomplete" for="country"></label>
                            <div class="autocomplete">
                                <input id="myInput" type="text" name="myCountry" placeholder="Country" onclick="return Client.autoComplete(document.getElementById('myInput'), Client.countries)">
                            </div>
                            <div id="result"></div>
                        </li>
                        <li>
                            <label for="city"></label>
                            <input id="city" type="text" name="user_city" placeholder="Destination City">
                        </li>
                        <li>
                            <label for="date"></label>
                            <input id="date" type="date" name="user_date">
                        </li>
                        <li>
                            <input class="btn" type="submit" name="button" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                        </li>
                     </ul>
                </form>
            </section>
            <section id="user-fb-wrapper">
                <div id="high"></div>
                <div></div>
                <div></div>

            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script> -->
    </body>
</html>
