//variables
$clicked: #155799;
$white: #F1F2F2;
$transition: all 0.25s ease-in-out;

// mixin
@mixin mybutton($color_1, $color_2) {
    margin: 10px 0px;
    border: 1px solid grey;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: $color_1;
    background-color: $color_2;
    transition: $transition;
    &:hover {
      background-color: $color_1;
      border-color: $color_1;
      color: $color_2;
    }
    &:active {
      background-color: $color_1;
      border-color: $color_1;
      color: $color_2;
      box-shadow: none;
    }
    &:focus, &:active:focus {
      background-color: $color_1;
      border-color: $color_1;
      color: $color_2;
      outline: 5px auto $color_1;
    }
    &:visited {
      background-color: $color_1;
      border-color: $color_1;
    }
}

.btn {
    @include mybutton($clicked, $white);
}


#form{
    padding: 10px;
    flex-direction:row;
    display: flex;
    justify-content: center;
    text-align: center;
}


b, strong{
  font-weight: bolder;
}

#country {
  width: 267px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    border-radius: 10px;
}

.color{
    margin-top: 5px;
    margin-bottom: 5px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  width: fit-content;
}

input[type=text], input[type=date]{
  background-color: #ECF2FF;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
